

.myConteiner{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50%;
    border: 10px solid grey;
    padding: 5px;
}

.myConteiner h1{
    color: navy;
    font-family: monospace;
    font-weight: normal;
}


